body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid orange;
    width: 600px;
    margin: auto;
}

.text{
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
    margin: 10px;
}

#playerSelection{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
    margin: 10px;
}